<div class="row">
    <div class="card mb-3">
        <div class="card-header">Counters</div>
        <div class="card-block table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Фото</th>
                        <th>Описание</th>
                        <th>Цена ({{clicks_2}} шт)</th>
                        <th>Кол-во</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{product.id}}</td>
                        <td>
                            <p>{{ product.name}}</p>
                        </td>
                        <td>{{ product.salePrice}}</td>
                        <td>
                            <positions-comp [productId]="product.id" [(positions)]="product.positions" (onChangePosition)="onChangedPosition($event)"></positions-comp>
                        </td>
                        <td>общая сумма</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>