<div class="row">
    <div class="card mb-3">
        <div class="card-header">Counters</div>
        <div class="card-block table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>№!!!!</th>
                        <th>Name</th>
                        <th>Sum</th>
                        <th>ReservedSum</th>
                        <th>moment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{ order.name}}</td>
                        <td>{{ order.sum}}</td>
                        <td>{{ order.reservedSum}}</td>
                        <td>{{ order.moment}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>