<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Melon Authorize</h1>
            <form role="form" (ngSubmit)="login(loginForm)" #loginForm="ngForm" novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="E-mail" required (ngModel)="email" name="email"
                            #emailVar="ngModel">
                        <span class="help-block" *ngIf="(emailVar.touched || emailVar.dirty) && emailVar.errors">
                            <span *ngIf="emailVar.errors.required">Email is required.</span>
                            <span *ngIf="emailVar.errors.pattern">Email is not valid.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" required (ngModel)="password"
                            name="password" #passwordVar="ngModel" />
                        <span class="help-block" *ngIf="(passwordVar.touched || passwordVar.dirty) && passwordVar.errors">
                            <span *ngIf="passwordVar.errors.required">Password is required.</span>
                        </span>
                    </div>
                </div>
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a> &nbsp; -->
                <button class="btn rounded-btn" type="submit" [disabled]="!loginForm.valid">Log In</button>
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a> -->
            </form>
            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </div>
    </div>
</div>